<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% block title %}College Attendance{% endblock %}
    </title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<nav>

    <b>College Attendance</b>

    {% if user.is_authenticated %}

    <span>

        <a href="/dashboard/">Dashboard</a>

        {% if user.is_superuser %}
            <a href="/students/">Students</a>
            <a href="/admin/">Admin</a>

        {% elif user.groups.all.0.name == "FACULTY" %}
            <a href="/attendance/mark/">Mark Attendance</a>

        {% else %}
            <a href="{% url 'student_attendance' %}">My Attendance</a>
        {% endif %}

       <form method="post" action="/logout/" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>   
    
     </span>

    {% endif %}

</nav>

<main>

    {% block content %}

    {% endblock %}

</main>

</body>

</html>